@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WorkSans-Black";
  src: url("/fonts/WorkSans/WorkSans-Black.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Regular";
  src: url("/fonts/WorkSans/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Bold";
  src: url("/fonts/WorkSans/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-ExtraBold";
  src: url("/fonts/WorkSans/WorkSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Medium";
  src: url("/fonts/WorkSans/WorkSans-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: #ffffff;
}
